# Ignorar ambiente virtual
venv/

# Arquivos de cache Python
__pycache__/
*.pyc

# Arquivos do SQLite
*.sqlite3

# Configurações de ambiente
.env

# Arquivos do Django
db.sqlite3

# VS Code
.vscode/

# Arquivos do MacOS
.DS_Store