{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'core/css/login.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Prata&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="header-container">
      <img src="{% static 'core/images/LOGO.svg' %}" alt="Logo da ONG">
    </div>
  </header>

  <nav>
    <a href="#quero-adotar">Quero Adotar</a>
    <a href="#entrar">Entrar</a>
    <a href="#sobre">Sobre</a>
  </nav>

  <main class="login-container">
    <h1>Seja bem-vindo</h1>
    <p>Entre com seus dados</p>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="email">Digite seu email</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Entrar</button>
    </form>


    {% if messages %}
    <ul>
      {% for message in messages %}
      <li style="padding: 10px; color: red;">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="linha-ou">ou</div>

    <p class="cadastro-msg">
      Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a>
    </p>
  </main>
</body>

</html>